ORACLE_HOME=/opt/oracle/product/23ai/dbhomeFree
ORACLE_SID=FREE
PATH=/opt/oracle/product/23ai/dbhomeFree/bin:/usr/local/bin:/usr/bin:/bin
ORACLE_SCHEMA=STOCKIT
ORACLE_DIRECTORY_OBJECT=STOCKIT_BACKUP_DIR
ORACLE_BACKUP_DIR=/opt/oracle/backup/stockit
BACKUP_S3_URI=s3://stockfit-oracle-backup/prod
# Set this after granting the oracle OS user write access to the node_exporter
# textfile collector directory. Leave it empty until then.
BACKUP_METRIC_FILE=
